---
import { getCollection } from 'astro:content'
import PostCards from '../components/PostCards.astro'
import PageLayout from '../layouts/PageLayout.astro'

const posts = (await getCollection('phenomena')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<PageLayout>
  <section class="pt-12">
    <h1 class="text-center">AI-basis</h1>
    <p class="text-justify indent-8 text-pretty">
      The AI-basis project is dedicated to exploring and documenting the latest advancements in artificial intelligence. Our goal is to provide insightful articles, tutorials, and resources that help enthusiasts and professionals alike stay informed about the rapidly evolving AI landscape.
    </p>
  </section>
  <hr />
  <PostCards posts={posts} />
</PageLayout>
